# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

# build directories
Debug/
Release/

#Visual Studio
*.sdf
*.iobj
*.ipdb
*.ilk
*.pdb

#Code::Blocks
*.layout

#Emacs
\#*\#

#CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

#CLion
.idea/workspace.xml
